body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    border: 4px solid black;
    height: 170px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    display: flex;

}

.purple {
    height: 130px;
    background-color: rgb(160, 105, 214);
    width: 40px;
    position: relative;
    margin-right: 50px;
    top: 40px;
}

.green {
    width: 400px;
    height: 170px;
    background-color: green;
    margin-right: 50px;
    
}

.blue {
    width: 170px;
    height: 170px;
    background-color: lightblue;
    border-radius: 50%;
}

.middle {
    width: 90%;
    height: 220px;
    border: 4px dotted black;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
}

.box {
    background-color: rgb(243, 238, 192);
    width: 80%;
    margin: 0 auto;
    height: 170px;
    position: relative;
    top: 30px;
    box-shadow: 10px 10px 5px black;
}

.bottom {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 3px #888888
    
}

h1 {
    color: navy;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
}
